<template>
    <!-- Page content -->
    <div class="grid grid-cols-1 md:grid-cols-2">

      <!-- Paimon -->
      <div class="rounded-lg mt-1 mb-4 md:mb-8 overflow-hidden mx-auto">
          <!-- Image loading -->
            <LazyImage>
              <template v-slot:image>
                  <img @click="easterEgg = !easterEgg" class="h-72 sm:h-96 m-auto rounded-xl mt-4 drop-shadow" :src="easterEgg ? '/img/ken.png' : '/img/paimon-portrait2.png'" alt="paimon-portret">
              </template>
              <template v-slot:preloader> 
                  <div class="h-72 sm:h-96 mx-auto sm:mt-4 mb-4 sm:mb-0 pt-28">
                    <svg class="mx-auto animate-spin text-gray-400 h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="spin"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
                  </div>
              </template>
              <template v-slot:error>
                  <div class="h-72 sm:h-96 mx-auto mt-3 pt-28"></div>
              </template>
            </LazyImage>
          <!-- /Image -->
      </div>


      <!-- For devs card -->
      <div class="px-3 pb-2 rounded-lg mb-4 md:mb-8 overflow-hidden text-lg text-gray-900 dark:text-gray-200 shadow-lg bg-gray-50 dark:bg-gray-700 transition-colors sm:m-4">
          <h3 class="pb-2 pt-3 text-3xl font-extrabold leading-9 tracking-tight sm:leading-10">
            Разработчикам
          </h3>
          <!-- Content -->
          <div>
            Вы можете использовать франшизу и создавать свой Genshin journey на основе API. Делать его опенсорс или нет решать только вам. Исходники сайта, приложения и другого ниже. Также в ближайшем будущем сайт будет переписан на nuxt3. Андроид приложение пока что на раней стадии, исходники ниже. Также в разработке новое API (Open API), на питоне. По поводу андроид приложения и нового API: <br>
            <svg style="vertical-align: -1.2px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline bi bi-discord" viewBox="0 0 16 16"> <path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/> <path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/> </svg>  1lfey#0626
          </div>
      </div>

    </div>

    <!-- Buttons -->
    <div class="flex p-2 mb-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 rounded-md mx-auto">
          <a target="_blank"  rel="noreferrer" href="https://github.com/bot08/genshin-journey-API-docs" class="items-center m-2 text-center px-7 py-2 shadow-lg text-base font-medium leading-6 text-white transition ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 dark:hover:bg-indigo-700 focus:outline-none">
              API docs (github)
          </a>
          <a target="_blank"  rel="noreferrer" href="https://github.com/bot08/genshin-front" class="items-center m-2 text-center px-7 py-2 shadow-lg text-base font-medium leading-6 text-white transition ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 dark:hover:bg-indigo-700 focus:outline-none">
              Frontend (github)
          </a>
          <a target="_blank"  rel="noreferrer" href="https://github.com/ilfey/Genshin" class="items-center m-2 text-center px-7 py-2 shadow-lg text-base font-medium leading-6 text-white transition ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 dark:hover:bg-indigo-700 focus:outline-none">
              Android app (github)
          </a>
          <a target="_blank"  rel="noreferrer" href="https://github.com/ilfey/genshin-back" class="items-center m-2 text-center px-7 py-2 shadow-lg text-base font-medium leading-6 text-white transition ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 dark:hover:bg-indigo-700 focus:outline-none">
              Open API (github)
          </a>
          <LazyLinkBtn :nameProps="'Вход для редакторов'" :linkProps="'/dev/user'"/>
          <LazyLinkBtn :nameProps="'На главную страницу'" :linkProps="'/'"/>
        </div>
    </div>
</template>


<script>
import LazyImage from '@/components/LazyImage.vue'
import LazyLinkBtn from '@/components/LazyLinkBtn.vue'


export default {
  // Сохранение состояния (keep-alive)
  name: "notAlive",

  data: () => ({
    easterEgg: false
  }),

  components: {
    LazyImage,
    LazyLinkBtn
  },

}
</script>