/* base */
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

img {
  object-fit: cover
}


/* custom classes (see also tailwind.config) */
.v-align-min3-5 {
  vertical-align: -3.5px
}

.v-characters {
  content-visibility: auto;
  contain-intrinsic-size: 136px;
}

.v-gacha {
  content-visibility: auto;
  contain-intrinsic-size: 334px;
}

@media (min-width: 640px) {
  .v-characters {
    contain-intrinsic-size: 188px;
  }
  .v-gacha {
    contain-intrinsic-size: 384px;
  }
}


/* Not supports backdrop-filter  */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(110, 110, 130, 0.4);
  }
}

/* todo: fix bug ஬kdrop-blur (report) */
/* 
.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.4);
}
html.dark .\backdrop-blur {
  background-color: rgba(0, 0, 0, 0.4);
} 
*/

/* scrollbar  (1024px = lg:) */
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 17px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(249 250 251);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgb(156 163 175);
    border: 5px solid rgb(249 250 251);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128);
  }

  /* dark mode */
  html.dark ::-webkit-scrollbar-track {
    background: rgb(55 65 81);
  }

  html.dark ::-webkit-scrollbar-thumb {
    background: rgb(156 163 175);
    border: 5px solid rgb(55 65 81);
  }

  html.dark ::-webkit-scrollbar-thumb:hover {
    background: rgb(209 213 219);
  }
}


/* font */
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/font/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/font/Inter-italic.var.woff2') format('woff2');
}