<template>
  <div>
    <div class="relative block text-left mb-3 w-40 ml-auto sm:mr-14 lg:mr-7 z-10">
      <!-- Button -->
      <button @click="isOpen = !isOpen" class="inline-flex justify-center rounded-md shadow-lg px-4 py-2 transition ease-in-out bg-indigo-600 focus:outline-none hover:bg-indigo-500 dark:hover:bg-indigo-700 text-base font-medium text-white">
        Сортировка
        <ChevronDownIcon :class="'-mr-1 ml-1 h-6 w-6 '+ (isOpen ? 'rotate-180' : '')"/>
      </button>

      <!-- pop panel -->
      <transition enter-active-class="transition ease-out duration-100" enter-from-class="opacity-0 scale-95" enter-to-class="opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="opacity-100 scale-100" leave-to-class="opacity-0 scale-95">
        <div v-if="isOpen" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-gray-50 ring-1 dark:bg-gray-700 ring-black ring-opacity-5 focus:outline-none transition-colors">
          <div v-for="item in sortProps" :key="item.name" class="py-1 w-full">
            <button v @click="this.$emit('updContent', item.query); isOpen = false" class="w-full text-left text-gray-900 dark:text-gray-100 lg:hover:text-indigo-600 lg:dark:hover:text-indigo-500 block px-3 py-2 text-md font-medium transition-colors">{{ item.name }}</button>
          </div>
        </div>
      </transition>
    </div>

    <!-- Wrapper & blur -->
    <transition enter-active-class="duration-100 ease-out" enter-from-class="opacity-0" enter-to-class="opacity-100" leave-active-class="duration-100 ease-in" leave-from-class="opacity-100" leave-to-class="opacity-0">
      <div v-if="isOpen" @click="isOpen = false" class="fixed inset-0 backdrop-blur z-[5]"></div>
    </transition>
  </div>
</template>


<script>
// TODO: new full screen design & search item (server)
import { ChevronDownIcon } from '@heroicons/vue/solid'


export default {
  name: "SelectMenu",

  props:[
    'sortProps'
  ],
  
  data: () => ({
    isOpen: false
  }),
  
  deactivated() {
    this.isOpen = false
  },

  components: {
    ChevronDownIcon
  }
}
</script>