<script>
import NavbarLoader from '@/components/NavbarLoader.vue'
import Error from '@/components/Error.vue'
import axios from 'axios'

import { defineAsyncComponent } from 'vue'

// Lazy load navbar
const Navbar = defineAsyncComponent({
  loader: () => import('@/components/Navbar.vue'),
  loadingComponent: NavbarLoader,
  delay: 0,
  //errorComponent: Error,
})

export default {
  components: { 
    Navbar,
    Error
  },
  
  data: () => ({
    serverError: false
  }),

  mounted(){
    // First time ping API
    this.serverPing()
  },
  
  methods: {
    serverPing(){
      axios.get('https://sushicat.pp.ua/api/')
      .then(() => {
        this.serverError = false;
      })
      .catch(() => {
        this.serverError = true;
        // try until the server gives the answer 
        setTimeout(() => this.serverPing(), 999);
      })
    }
  }
}

// Для новогоднего оформления вставьте в главный див: style="background-image: url('/img/snow.png');background-repeat: repeat"
</script>


<template>
  <div class="bg-gray-200 dark:bg-gray-800 transition-colors min-h-screen">
    <header>
      <Navbar/>
    </header>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-18 sm:pt-20 lg:pt-24 xl:pt-26">
      <router-view v-if="!this.serverError" v-slot="{ Component }">
        <keep-alive :max="5" exclude="notAlive">
          <component :is="Component" />
        </keep-alive>
      </router-view>
      <Error v-else/>
    </main>
  </div>
</template>